article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.hero-nav__upper-wrapper {
  background: #345231;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero-nav__list-item:not(:nth-child(3)) {
  display: none; }

.hero-nav__second-heading {
  font-family: "Abril Fatface", cursive;
  font-size: 4.2rem;
  text-transform: uppercase; }

.hero-nav__list-link {
  color: #f6f6f6; }

.submit-form {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .submit-form__field {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 3.2rem;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: none; }
  .submit-form__submit {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: #e4a43b;
    font-family: "Abril Fatface", cursive;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%; }

.main-header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #345231; }
  .main-header__bottom-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-header__bottom-wrapper-first-heading {
      text-transform: uppercase;
      position: absolute;
      top: 5vh;
      font-family: "Abril Fatface", cursive;
      color: #f6f6f6;
      font-size: 6rem; }
    .main-header__bottom-wrapper-first-heading::before {
      content: url(../../assets/circle-text.png);
      display: block;
      position: absolute;
      -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
      transform: scale(0.4);
      top: -55px;
      left: -66px; }
    .main-header__bottom-wrapper-image {
      width: 100vw; }

.about-willow {
  background: #f6f6f6; }
  .about-willow__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .about-willow__second-heading {
    font-family: "Abril Fatface", cursive;
    font-size: 4.2rem;
    text-transform: uppercase; }
  .about-willow__text {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 3.2rem; }

.blog__first-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .blog__first-entry-text-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .blog__first-entry-third-heading {
    font-family: "Abril Fatface", cursive;
    font-size: 3.2rem;
    text-transform: uppercase; }
  .blog__first-entry-text {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 3.2rem;
    text-align: center; }

.blog__second-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .blog__second-entry-text-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .blog__second-entry-third-heading {
    font-family: "Abril Fatface", cursive;
    font-size: 3.2rem;
    text-transform: uppercase; }
  .blog__second-entry-text {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 3.2rem;
    text-align: center; }

.willow-journey {
  background: #f6f6f6; }
  .willow-journey__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .willow-journey__img-container {
    margin-bottom: 50px; }
  .willow-journey__text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .willow-journey__third-heading {
    text-align: center;
    font-family: "Abril Fatface", cursive;
    font-size: 4.2rem;
    text-transform: uppercase; }
  .willow-journey__text {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 3.2rem; }

.gallery__wrapper-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.gallery__list-item {
  width: 50%; }

.gallery__list-item:first-child {
  width: 100%; }

.gallery__list-item:last-child {
  display: none; }

.footer {
  background: #f6f6f6; }
  .footer__upper-wrapper {
    padding-top: 50px;
    padding-bottom: 50px; }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer__list-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 30px; }
    .footer__list-item:last-child {
      padding-bottom: 0; }
    .footer__list-link-icon {
      color: #e4a43b;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
      flex: 1 0 40%; }
    .footer__list-container {
      -webkit-box-flex: 3;
      -ms-flex: 3 0 60%;
      flex: 3 0 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .footer__list-container-text {
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        line-height: 3.2rem; }
    .footer__list-heading-link {
      text-transform: uppercase;
      font-family: "Abril Fatface", cursive;
      font-size: 3.2rem;
      text-transform: uppercase;
      color: #1f1f1f; }
  .footer__inner-icon {
    color: #1f1f1f; }
  .footer__bottom-wrapper {
    background: #1f1f1f; }
    .footer__bottom-wrapper-text {
      margin: 0;
      color: #f6f6f6;
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      line-height: 3.2rem;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px; }

.blog-header {
  background: url("../../assets/blog-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .blog-header__bottom-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    -ms-flex-item-align: start;
    align-self: flex-start; }
    .blog-header__bottom-wrapper-first-heading {
      font-family: "Abril Fatface", cursive;
      font-size: 8rem;
      text-transform: uppercase;
      line-height: 60px;
      color: #f6f6f6; }

.main-blog {
  background: #f6f6f6; }
  .main-blog-entry {
    padding-left: 5%;
    padding-right: 5%; }
    .main-blog-entry__article {
      background: white; }
    .main-blog-entry__second-heading {
      font-family: "Abril Fatface", cursive;
      font-size: 3.2rem;
      text-transform: uppercase; }
    .main-blog-entry__text {
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
      line-height: 3.2rem;
      border-bottom: 5px solid #345231;
      margin: 0 0 0; }
      .main-blog-entry__text-date {
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        line-height: 3.2rem; }
    .main-blog-entry__comment {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .main-blog-entry__comment-date {
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        line-height: 3.2rem; }
      .main-blog-entry__comment-post {
        padding: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: white; }
      .main-blog-entry__comment-post:not(last-child) {
        margin-bottom: 20px; }
    .main-blog-entry__text-container {
      width: 80%; }
    .main-blog-entry__quote {
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
      line-height: 3.2rem;
      margin: 0; }
    .main-blog-entry__img-container {
      margin-right: 20px; }

.form-field--comment {
  resize: none; }

.side-content {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .side-content__text {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 3.2rem; }
  .side-content__third-heading {
    font-family: "Abril Fatface", cursive;
    font-size: 2.4rem;
    text-transform: uppercase; }
  .side-content__about-willow {
    background: #f6f6f6; }
    .side-content__about-willow-wrapper {
      background: white;
      margin: 5% 5% 2.5% 5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
  .side-content__img-container {
    -ms-flex-item-align: center;
    align-self: center; }
  .side-content__recent-post {
    background: #f6f6f6; }
    .side-content__recent-post-wrapper {
      background: white;
      margin: 0 5% 5% 5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
  .side-content__nav {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 3.2rem; }
  .side-content__list-link {
    color: #1f1f1f; }

.contact-header {
  background: url("../../assets/contact-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .contact-header__bottom-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    -ms-flex-item-align: start;
    align-self: flex-start; }
    .contact-header__bottom-wrapper-first-heading {
      font-family: "Abril Fatface", cursive;
      font-size: 8rem;
      text-transform: uppercase;
      line-height: 60px;
      color: #f6f6f6; }

.contact-content {
  background: #f6f6f6;
  padding: 5%; }

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white; }

.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social-media-list-item {
    color: #345231;
    margin-right: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 3.2rem; }
  .social-media-list-item:last-child {
    margin-right: 0; }

.address-list__link {
  font-weight: bold;
  color: #1f1f1f; }

.address-list__item {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  font-style: normal;
  color: #1f1f1f; }

.wrapper--padding {
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding); }

.list--normalize {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.list-item--hidden {
  display: none; }

.link--normalize {
  text-decoration: none; }

.text--hidden {
  display: none; }

.link--button {
  text-transform: uppercase;
  background-color: #e4a43b;
  padding: 15px 18px;
  color: #1f1f1f;
  font-family: "Abril Fatface", cursive;
  font-size: 1.8rem;
  text-transform: uppercase; }

.heading--normalize {
  margin: 0; }

/* TABLET MQ */
@media (min-width: 768px) {
  /* index.html STYLES */
  .main-header__bottom-wrapper {
    padding-left: 10%;
    padding-right: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .main-header__bottom-wrapper-first-heading {
      text-align: right;
      -ms-flex-item-align: center;
      align-self: center;
      width: 60%;
      position: relative;
      font-size: 8.5rem; }
    .main-header__bottom-wrapper-first-heading::before {
      top: -40px;
      left: -60px;
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); }
    .main-header__bottom-wrapper-image {
      width: initial;
      position: relative;
      top: 15vh;
      -webkit-box-shadow: 15px 15px white;
      box-shadow: 15px 15px white;
      margin-left: 5%; }
  .about-willow {
    padding-top: 75px;
    padding-bottom: 75px; }
  .blog__first-entry {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .blog__first-entry-figure {
      max-width: 80%;
      float: right; }
    .blog__first-entry-text-container {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-item-align: end;
      align-self: flex-end;
      padding-bottom: 30px;
      width: 50%; }
    .blog__first-entry-text {
      text-align: left; }
    .blog__first-entry-image {
      position: relative;
      bottom: 50px;
      right: 50px;
      -webkit-box-shadow: -100px 20px 0 #709b6b, 20px 20px 0 #709b6b;
      box-shadow: -100px 20px 0 #709b6b, 20px 20px 0 #709b6b; }
  .blog__first-img-container {
    position: relative;
    width: 50%; }
  .blog__second-entry {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .blog__second-entry-figure {
      max-width: 80%; }
    .blog__second-entry-text-container {
      padding-top: 20px;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -ms-flex-item-align: start;
      align-self: flex-start;
      width: 50%; }
    .blog__second-entry-text {
      text-align: right; }
    .blog__second-entry-image {
      position: relative;
      top: 20px;
      -webkit-box-shadow: 100px 20px 0 #345231, 20px 20px 0 #345231;
      box-shadow: 100px 20px 0 #345231, 20px 20px 0 #345231; }
    .blog__second-entry-text-container {
      width: 50%; }
  .blog__second-img-container {
    position: relative;
    width: 50%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .willow-journey__wrapper {
    display: block; }
  .willow-journey__img-container {
    margin-right: 50px;
    float: left;
    -webkit-box-shadow: 20px 20px 0 #709b6b;
    box-shadow: 20px 20px 0 #709b6b; }
  .willow-journey__text-container {
    display: block; }
  .willow-journey__text {
    text-align: left; }
  .willow-journey__button-container {
    text-align: center; }
  .gallery__list-item:first-child {
    margin-bottom: 5%; }
  .gallery__list-item:nth-child(2) {
    margin-left: 5%; }
  .gallery__list-item:nth-child(3) {
    margin-left: 2.5%;
    margin-right: 2.5%; }
  .gallery__list-item:last-child {
    display: block;
    margin-right: 5%; }
  .gallery__list-item:not(first-child) {
    width: calc(80% / 3);
    margin-bottom: 5%; }
  .footer__upper-wrapper {
    padding-left: 5%;
    padding-right: 5%; }
  .footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer__list-item {
      width: 50%; }
    .footer__list-link-icon {
      -ms-flex-item-align: start;
      align-self: flex-start; }
  .text--hidden {
    display: block; }
  /* blog.html STYLES */
  .main-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding: 10%; }
    .main-blog-entry {
      width: 70%; }
  .side-content {
    width: 30%; }
  /* HERO NAV MQ STYLE */
  .hero-nav__upper-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .hero-nav__upper-wrapper-image {
      display: none; }
  .hero-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .hero-nav__list-item {
      padding-left: 3%;
      padding-right: 3%; }
    .hero-nav__list-item:not(:nth-child(3)) {
      display: block;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 2rem;
      line-height: 2.9rem; }
  /* contact.html STYLES */
  .contact-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

:root {
  --wrapper-padding: 5%; }

html {
  font-size: 62.5%; }

img {
  max-width: 100%;
  display: block; }

/*# sourceMappingURL=main.css.map */