@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";
@import "partials/home-header";
@import "partials/home-about-willow";
@import "partials/home-blog";
@import "partials/home-willow-journey";
@import "partials/home-gallery";
@import "partials/home-footer";

:root {
    --wrapper-padding: 5%;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper--padding {
    padding-left: var(--wrapper-padding);
    padding-right: var(--wrapper-padding);
}

.list--normalize {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item--hidden {
    display: none;
}

.link--normalize {
    text-decoration: none;
}

.text--hidden {
    display: none;
}

//unsure where to put this
.link--button {
    text-transform: uppercase;
    background-color: $accent-color;
    padding: 15px 18px;
    color: $black;
    @include heading-style(1.8rem);
}

.heading--normalize {
    margin: 0;
}