@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";
@import "partials/home-header";
@import "partials/home-about-willow";
@import "partials/home-blog";
@import "partials/home-willow-journey";
@import "partials/home-gallery";
@import "partials/home-footer";
@import "partials/blog-header";
@import "partials/blog-article";
@import "partials/modifiers";
@import "partials/responsive";

:root {
    --wrapper-padding: 5%;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}