.blog-header {
    background: url("../../assets/blog-image-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__upper-wrapper {
        background: $pine;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list-item:not(:nth-child(3)) {
        display: none;
    }

    &__second-heading {
        @include heading-style(4.2rem);
    }

    &__list-link {
        color: $white-shade;
    }

    &__bottom-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        align-self: flex-start;

        &-first-heading {
            @include heading-style(8rem);
            line-height: 60px;
            color: $white-shade;
        }
    }
}