// blog.html   main-blog component
//             side-content component


.main-blog {
    background: $white-shade;

    &-entry {

        &__article {
            background: white;
            padding: 20px 20px 0 20px;
            border-bottom: 5px solid $pine;
        }
    
        &__second-heading {
            @include heading-style(3.2rem);
            margin: 0;
        }
    
        &__text {
            @include body-text(2rem);
            margin: 0 0 0;
    
            &-date {
                @include body-text(2rem);
            }
        }
    
        &__comment {
            display: flex;
            flex-direction: column;
    
            &-date {
                @include body-text(2rem);
                padding: 0;
            }
    
            &-post {
                padding: 20px;
                display: flex;
                background: white;
            }
    
            &-post:not(last-child) {
                margin-bottom: 20px;
            }
        }
    
        &__text-container {
            width: 80%;
        }
    
        &__quote {
            @include body-text(2rem);
            margin: 0;
        }
    
        &__img-container {
            margin-right: 20px;
        }
    }

    &-form {
        padding: 20px;
    }
}

.side-content {
    background: $white-shade;
    display: flex;
    flex-direction: column;

    &__text {
        @include body-text(2rem);

        &-link {
            text-decoration: none;
            font-weight: bold;
            color: $pine;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: $black;
            }
        }
    }

    &__third-heading {
        @include heading-style(2.4rem);
        margin: 10px 0;
    }

    &__about-willow {
        background: $white-shade;

        &-wrapper {
            background: white;
            padding: 5%;
            margin: 5% 5% 2.5% 5%;
            display: flex;
            flex-direction: column;        
        }
    }

    &__img-container {
        max-width: 100%;

        &__img {
            min-width: 100%;
        }
    }

    &__recent-post {
        background: $white-shade;

        &-wrapper {
            background: white;
            padding: 5%;
            margin: 0 5% 5% 5%;
            display: flex;
            flex-direction: column;
        }
    }

    &__nav {
        @include body-text(2rem);
        padding: 0;
    }

    &__list-link {
        text-decoration: none;
        color: $black;
    }
}