.submit-form {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    &__field {
        @include body-text(2rem);
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
        border: none;
    }

    &__submit {
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        background: $accent-color;
        @include heading-style(2rem);
        text-align: center;
        width: 100%;
    }
}