// .submit-form STYLES

.submit-form {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    &__field {
        @include body-text(2rem);
        padding: 15px;
        width: 100%;
        margin-bottom: 10px;
        border: none;

        &--no-resize {
            resize: none;
        }
    }

    &__submit {
        color: $black;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        background: $accent-color;
        @include heading-style(2rem);
        text-align: center;
        width: 100%;
        transition: color 0.2s ease-in-out,
                    background-color 0.2s ease-in-out;

        &:hover {
            color: $accent-color;
            background-color: $black;
        }
    }
}