.hero-nav {

    &__checkbox-nav {
        display: none;
    }

    &__checkbox-nav:checked + .hero-nav__mobile-nav__list {
        left: 0;
    }

    &__checkbox-nav:checked ~ .mobile-nav-wrapper {
        right: -40%;
    }

    label[for="toggle"] {
        position: fixed;
        top: 10px;
        right: 10px;
    }

    &__mobile-nav {
        &__second-heading {
            font-size: 2.5rem;
            line-height: 2.5rem;
            padding-top: 10%;
            padding-bottom: 10%
        }

        &__list {
            // list-style-type: none;
            // padding: 0;
            // margin: 0;
            background: $accent-color;
            top: 0;
            width: 40%;
            left: -40%;
            position: fixed;
            z-index: 10;
            height: 100%;
            transition: all 0.5s;

            &-item {
                @include menu-text(2rem);
                text-align: center;
            }

            &-item:not(:first-child) {
                padding-top: 15%;
                padding-bottom: 15%;
            }

            &-link {
                text-decoration: none;
                color: $pine;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: $black;
                }
            }

            &-item:first-child {
                @include heading-style(4.2rem);
            }
        }
    }

    &__upper-wrapper {
        top: 0;
        position: fixed;
        z-index: 2;
        background: $pine;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        list-style-type: none;

        &-item:not(:nth-child(3)) {
            display: none;
        }

        &-link {
            text-decoration: none;
            color: $white-shade;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: $accent-color;
            }            
        }
    }

    &__second-heading {
        @include heading-style(4.2rem);
    }
}

.mobile-nav-wrapper {
    position: relative;
    right: 0;
    transition: all 0.5s;
}