// index.html - willow-journey STYLES

.willow-journey {
    background: $white-shade;

    &__wrapper {
        padding: 50px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img-container {
        margin-bottom: 50px;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__button-container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__third-heading {
        margin: 0;
        text-align: center;
        @include heading-style(4.2rem);
    }

    &__text {
        text-align: center;
        @include body-text(2rem);
    }
}