.about-willow {
    background: $white-shade;

    &__wrapper {
        padding: 50px 5%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__second-heading {
        margin: 0;
        @include heading-style(4.2rem);
    }

    &__text {
        @include body-text(2rem);
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}