.footer {
    background: $white-shade;

    &__upper-wrapper {
        padding: 50px 0 50px 10%;
    }

    &__list {
        display: flex;
        flex-direction: column;

        &-item {
            display: flex;
            align-items: center; //for mq
            padding-bottom: 30px;
        }

        &-item:last-child {
            padding-bottom: 0;
        }

        &-link-icon {
            display: none;
            color: $accent-color;
        }

        &-container {
            position: relative;
            display: flex;
            flex-direction: column;
            padding-left: 75px;
            margin-left: 15px;

            &-text {
                @include body-text(2rem);
            }
        }

        &-heading-link {
            text-transform: uppercase;
            @include heading-style(3.2rem);
            color: $black;

            &--image-icon::before {
                @include pseudo-icons("\f03e");
            }

            &--user-icon::before {
                @include pseudo-icons("\f007");
            }

            &--pc-icon::before {
                @include pseudo-icons("\f108");
            }

            &--phone-icon::before {
                @include pseudo-icons("\f095");
            }
        }
    }

    &__inner-icon {
        color: $black;
    }

    &__bottom-wrapper {
        background: $black;

        &-text {
            margin: 0;
            color: $white-shade;
            @include body-text(1.8rem);
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}