@mixin pseudo-element($pseudo-content) {
    content: $pseudo-content;
    display: block;
    position: absolute;
}

//not limited to second-heading
@mixin second-heading($font-size) {
    //mobile set to 2.2rem
    font-family: $primary-font;
    font-size: $font-size;
    text-transform: uppercase;
}

@mixin body-text($font-size) {
    font-family: $secondary-font;
    font-size: $font-size;
}

// @mixin font-size($size-value) {
//   font-size: ($size-value * 10) + px;
//   font-size: $size-value + rem;
// }