@mixin pseudo-element($pseudo-content) {
    content: $pseudo-content;
    display: block;
    position: absolute;
}

@mixin menu-text($font-size) {
    font-family: $secondary-font;
    font-weight: bold;
    font-size: $font-size;
    line-height: 2.9rem;    
}

@mixin heading-style($font-size) {
    font-family: $primary-font;
    font-size: $font-size;
    text-transform: uppercase;
}

@mixin body-text($font-size) {
    font-family: $secondary-font;
    font-size: $font-size;
    line-height: 3.2rem;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}