/* TABLET MQ */

@media (min-width: 501px) {
    
    .main-header {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("./../assets/home-image-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &__bottom-wrapper {

            &-first-heading {
                margin-left: 0;
                margin-top: 30vh;
                font-size: 8rem;

                &::before {
                    transform: scale(0.6);
                    top: -45px;
                    left: -65px;
                }
            }
        }

        &__img-container {
            display: none;
        }
    }

    .willow-journey {

        &__img-container {
            box-shadow: 20px 20px 0 $green-grey;
        }
    }

    .footer {
        &__upper-wrapper {
            padding-right: 5%;
        }
    }

    /*blog.html*/

    .blog-header {
        &__bottom-wrapper-first-heading {
            font-size: 8rem;
            line-height: 60px;
        }
    }

    .side-content {
        flex-direction: row;

        &__about-willow {
            flex-basis: 50%;
            &-wrapper {
                margin-top: 0;
            }
        }

        &__recent-post {
            flex-basis: 50%;
        }
    }

    .footer__list-container-text--hidden {
        display: block;
    }
}

@media (min-width: 768px) {

    /* index.html STYLES */
    .main-header {
        background-position: 50% 40%;

        &__bottom-heading-container {
            display: block;
        }

        &__bottom-wrapper {
            padding-top: 0;
            padding-left: 10%;
            padding-right: 10%;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &-first-heading {
                text-align: right;
                align-self: center;
                width: 60%;
                position: relative;
                font-size: 12rem;
            }

            &-first-heading::before {
                top: -20px;
                left: -60px;
                transform: scale(0.7);
            }

            &-image {
                width: initial;
                position: relative;
                top: 15vh;
                box-shadow: 15px 15px white;
                margin-left: 5%;
            }
        }
    }

    .blog {
        &__first-entry {
            flex-direction: row;

            &-figure {
                max-width: 80%;
                float: right;
            }

            &-text-container {
                align-items: flex-start;
                align-self: flex-end;
                padding: 50px 7.5%;
                padding-bottom: 30px;
                width: 50%;
            }

            &-text {
                text-align: left;
            }

            &-image {
                position: relative;
                bottom: 50px;
                right: 50px; 
                box-shadow: -100px 20px 0 $green-grey, 
                            20px 20px 0 $green-grey;
            }
        }

        &__first-img-container {
            position: relative;
            width: 50%;
        }


        &__second-entry {
            flex-direction: row;

            &-figure {
                max-width: 80%;
            }

            &-text-container {
                padding: 20px 7.5% 50px 7.5%;
                align-items: flex-end;
                align-self: flex-start;
                width: 50%;
            }

            &-text {
                text-align: right;
            }

            &-image {
                position: relative;
                top: 20px;
                box-shadow: 100px 20px 0 $pine, 
                            20px 20px 0 $pine;
            }

            &-text-container {
                width: 50%;
            }
        }

        &__second-img-container {
            position: relative;
            width: 50%;
            order: 2;
        }
    }

    .willow-journey {
        &__wrapper {
            display: block;
        }

        &__img-container {
            margin-right: 50px;
            float: left;
        }

        &__text-container {
            display: block;
        }

        &__text {
            text-align: left;
        }

        &__button-container {
            text-align: center;
        }
    }

    .gallery {

        &__list-item:first-child {
            margin-bottom: 5%;
        }

        &__list-item:nth-child(2) {
            margin-left: 5%;
        }

        &__list-item:nth-child(3) {
            display: flex;
            justify-content: center;
            margin-left: 2.5%;
            margin-right: 2.5%;
        }

        &__list-item:last-child {
            display: flex;
            justify-content: flex-end;
            margin-right: 5%;
        }

        &__list-item:not(first-child) {
            width: calc(80% / 3);
            margin-bottom: 5%;
        }
    }

    .footer {

        &__upper-wrapper {
            padding-left: 5%;
            padding-right: 5%;
        }

        &__list {
            flex-direction: row;
            flex-wrap: wrap;

            &-item {
                width: 50%;
                align-items: flex-start;
            }

            &-link-icon {
                align-self: flex-start;
            }
        }
    }



    /* blog.html STYLES */

    .blog-header {
        justify-content: space-between;

        &__bottom-wrapper {
            padding: 0 0 0 5%;
        }
    }

    .main-blog {
        display: flex;
        flex-direction: row-reverse;
        padding: 5%;

        &-entry {
            flex: 1 0 65%;

            &__article {
                padding: 30px 30px 0 30px;
            }
        }

        &-form {
            padding: 0;
        }
    }

    .side-content {
        flex-direction: column;

        &__about-willow {
            flex-basis: auto;
        }

        &__recent-post {
            flex-basis: auto;
        }
    }

    .side-content {
        flex-basis: 30%;

        &__about-willow-wrapper {
            padding: 30px;
            margin: 0 30px 2.5% 0;
        }

        &__recent-post {
            position: -webkit-sticky; /* IE/Edge/Safari */
            position: sticky;
            top: 0;

            &-wrapper {
                padding: 30px;
                margin: 0 30px 0 0;
            }
        }

        &__text {
            padding-bottom: 0;
        }
    }

    /* HERO NAV MQ STYLE */

    .hero-nav {
        &__upper-wrapper {
            justify-content: center;
            position: relative;
            
            &-image {
                display: none;
            }
        }

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-around;

            &-item {
                text-transform: uppercase;
                padding-left: 5%;
                padding-right: 5%;
            }

            &-item:not(:nth-child(3)) {
                display: block;
                @include menu-text(2rem);
            }
        }
    }

    /* Form MQ STYLES */

    .submit-form__field:nth-child(2) {
        margin-right: 10px;
        width: calc(50% - 5px);
    }
    .submit-form__field:nth-child(4) {
        width: calc(50% - 5px);
    }

    /* contact.html STYLES */

    .contact-header {
        justify-content: space-between;

        &__bottom-wrapper {
            width: 100%;
            padding-left: 5%;

            &-first-heading {
                font-size: 8rem;
                line-height: 60px;
            }
        }
    }

    .contact-wrapper {
        align-items: flex-start;
        padding: 0 20px 20px 20px;
        margin-right: 10%;
        margin-top: 0;
    }
    
    .social-media-list-item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .social-media-list-item:first-child {
        padding-left: 0;
    }

    .contact-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        &-form-container {
            width: calc(100% * (2 / 3));
        }
    }
}

@media (min-width: 900px) {

    .about-willow {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .blog__first-entry-image {
        position: relative;
        bottom: 50px;
        right: 0;
        box-shadow: -300px 20px 0 $green-grey, 
                    20px 20px 0 $green-grey;
    }

    .blog__second-entry-image {
        position: relative;
        top: 20px;
        box-shadow: 300px 20px 0 $pine, 
                    20px 20px 0 $pine;
    }

    .willow-journey {
        &__wrapper {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    .contact-header__bottom-wrapper {
        padding-left: 10%;
    }

    .contact-content {
        padding: 5% 10%;
    }
}

@media (min-width: 1051px) {
    
    .main-header {
        background: $pine;
            &__img-container {
                display: block;

            &__bottom-wrapper {
                &__first-heading {
                    font-size: 13rem;
                    &::before {
                        top: -10px;
                        left: -55px;
                        transform: none;
                    }
                }
            }
        }
    }
 
    .willow-journey {
        &__third-heading {
            text-align: left;
        }
        
        &__button-container {
            text-align: left;
        }
    }
}

@media (min-width: 1276px) {

    .willow-journey__img-container {
        margin-bottom: 0;
    }
}